<section
  id="article-desktop"
  class="grid grid-cols-2 gap-[3vmax] max-w-[1470px] mx-auto px-[30px] py-[3vmax] hidden md:grid"
>
  <div class="flex flex-col justify-around gap-[3vmax]">
    <div class="flex flex-col justify-center gap-[1vmax]">
      <h2 class="text-[40px] leading-[52px] font-bold tracking-[0.6px]">
        Sculpted Perfection
      </h2>
      <p class="text-[16px] leading-[24px] tracking-[0.6px]">
        The Beosound A1 features brushed, perforated aluminium, creating a
        sleek, modern design that catches the eye. This premium material ensures
        durability while delivering an elegant, timeless look.
      </p>
    </div>
    <div class="flex flex-col justify-center gap-[1vmax]">
      <h2 class="text-[40px] leading-[52px] font-bold tracking-[0.6px]">
        Crafted for the Senses
      </h2>
      <p class="text-[16px] leading-[24px] tracking-[0.6px]">
        The high-grade, water-repellent leather on Beosound A1 not only feels
        luxurious but also protects the speaker from the elements. It’s a
        tactile experience that combines beauty with function.
      </p>
    </div>
    <div class="flex flex-col justify-center gap-[1vmax]">
      <h2 class="text-[40px] leading-[52px] font-bold tracking-[0.6px]">
        Design That Stands Out
      </h2>
      <p class="text-[16px] leading-[24px] tracking-[0.6px]">
        Beosound A1 is designed to impress, whether it’s on or off. Its
        minimalist yet striking aesthetic makes it a perfect addition to any
        space, blending seamlessly with any setting while making a statement.
      </p>
    </div>
  </div>

  <div class="grid grid-rows-3 gap-[3vmax]">
    <div class="relative sticky top-[42px] flex items-center gap-[15px]">
      <img
        src="./assets/article1.jpg"
        alt="article1"
        class="w-full aspect-square object-cover rounded-[15px]"
      />
    </div>
    <div class="sticky top-[42px]">
      <img
        src="./assets/article2.jpg"
        alt="article2"
        class="w-full aspect-square object-cover rounded-[15px]"
      />
    </div>
    <div class="sticky top-[42px]">
      <img
        src="./assets/article3.jpg"
        alt="article3"
        class="w-full aspect-square object-cover rounded-[15px]"
      />
    </div>
  </div>
</section>

<section
  id="article-mobile "
  class="flex flex-row overflow-x-auto snap-x snap-mandatory scroll-smooth gap-0 px-0 md:hidden hide-scrollbar py-[3vmax]"
>
  <div class="flex flex-col flex-shrink-0 w-full snap-start px-[15px]">
    <img
      src="./assets/article1.jpg"
      class="w-full aspect-square object-cover rounded-[15px] mb-[20px]"
    />
    <h2 class="text-[28px] leading-[36px] font-bold tracking-[0.6px]">
      Sculpted Perfection
    </h2>
    <p class="text-[16px] leading-[24px] tracking-[0.6px]">
      The Beosound A1 features brushed, perforated aluminium, creating a sleek,
      modern design that catches the eye. This premium material ensures
      durability while delivering an elegant, timeless look.
    </p>
  </div>

  <div class="flex flex-col flex-shrink-0 w-full snap-start px-[15px]">
    <img
      src="./assets/article2.jpg"
      class="w-full aspect-square object-cover rounded-[15px] mb-[20px]"
    />
    <h2 class="text-[28px] leading-[36px] font-bold tracking-[0.6px]">
      Crafted for the Senses
    </h2>
    <p class="text-[16px] leading-[24px] tracking-[0.6px]">
      The high-grade, water-repellent leather on Beosound A1 not only feels
      luxurious but also protects the speaker from the elements. It’s a tactile
      experience that combines beauty with function.
    </p>
  </div>

  <div class="flex flex-col flex-shrink-0 w-full snap-start px-[15px]">
    <img
      src="./assets/article3.jpg"
      class="w-full aspect-square object-cover rounded-[15px] mb-[20px]"
    />
    <h2 class="text-[28px] leading-[36px] font-bold tracking-[0.6px]">
      Design That Stands Out
    </h2>
    <p class="text-[16px] leading-[24px] tracking-[0.6px]">
      Beosound A1 is designed to impress, whether it’s on or off. Its minimalist
      yet striking aesthetic makes it a perfect addition to any space, blending
      seamlessly with any setting while making a statement.
    </p>
  </div>
</section>

<style>
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
</style>
