<div
  id="brand"
  class="flex flex-col items-center gap-[2vmax] max-w-[1470px] mx-auto px-[30px] py-[3vmax] max-md:px-[15px]"
>
  <div class="text-center">
    <h2
      class="text-[40px] font-bold leading-[52px] tracking-[0.6px] max-md:text-[28px] max-md:leading-[36px]"
    >
      As seen on
    </h2>
  </div>

  <div
    class="flex flex-row justify-between gap-[2vmax] w-full max-md:grid max-md:grid-cols-3 max-md:gap-[2vmax]"
  >
    <div
      class="flex-1 max-w-[300px] aspect-[21/9] rounded-[10px] overflow-hidden"
    >
      <img
        src="./assets/brand1.jpg"
        alt="brand1"
        class="w-full h-full object-cover object-center rounded-[10px]"
      />
    </div>

    <div
      class="flex-1 max-w-[300px] aspect-[21/9] rounded-[10px] overflow-hidden"
    >
      <img
        src="./assets/brand2.jpg"
        alt="brand2"
        class="w-full h-full object-cover object-center rounded-[10px]"
      />
    </div>

    <div
      class="flex-1 max-w-[300px] aspect-[21/9] rounded-[10px] overflow-hidden"
    >
      <img
        src="./assets/brand3.jpg"
        alt="brand3"
        class="w-full h-full object-cover object-center rounded-[10px]"
      />
    </div>

    <div
      class="flex-1 max-w-[300px] aspect-[21/9] rounded-[10px] overflow-hidden"
    >
      <img
        src="./assets/brand4.jpg"
        alt="brand4"
        class="w-full h-full object-cover object-center rounded-[10px]"
      />
    </div>

    <div
      class="flex-1 max-w-[300px] aspect-[21/9] rounded-[10px] overflow-hidden"
    >
      <img
        src="./assets/brand5.jpg"
        alt="brand5"
        class="w-full h-full object-cover object-center rounded-[10px]"
      />
    </div>

    <div
      class="flex-1 max-w-[300px] aspect-[21/9] rounded-[10px] overflow-hidden"
    >
      <img
        src="./assets/brand6.jpg"
        alt="brand6"
        class="w-full h-full object-cover object-center rounded-[10px]"
      />
    </div>
  </div>
</div>
