<div
  class="relative left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] w-screen bg-[url('./assets/contract.jpg')] bg-cover bg-center rounded-t-[40px] text-white"
>
  <div class="max-w-[1470px] mx-auto px-[30px] py-[6vmax] max-md:px-[15px]">
    <div class="flex flex-col gap-[1vmax] w-[40%] max-md:w-full">
      <p class="sub text-[14px] uppercase tracking-[2px] leading-[20px]">
        EXCLUSIVE COMMUNITY
      </p>
      <h2
        class="title text-[40px] leading-[60px] font-bold tracking-[0.6px] max-md:text-[40px] max-md:leading-[36px]"
      >
        Newsletter
      </h2>
      <p class="text text-[16px] leading-[24px] tracking-[0.6px]">
        Be the first to know about new arrivals, sales, and promotions by
        subscribing to our newsletter today!
      </p>

      <div
        class="flex flex-row mt-[1vmax] max-md:flex-col max-md:gap-3 max-md:mt-[2vmax]"
      >
        <input
          type="email"
          placeholder="Enter your email"
          required
          class="rounded-full border-0 text-[16px] leading-[24px] tracking-[0.6px] px-5 py-[14px] w-full mr-5 max-md:mr-0 font-normal text-[#171717]"
        />
        <button
          class="bg-[#ffc356] text-[#171717] font-semibold text-[14px] leading-[24px] tracking-[0.6px] rounded-full px-[50px] py-[13px] mr-[4vmax] max-md:mr-0 cursor-pointer"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
