<section class="max-w-[1470px] mx-auto pt-[6.6vmax] pb-[3vmax]">
  <div class="flex flex-col md:flex-row gap-[4vmax] px-[15px] md:px-[30px]">
    <div class="hidden md:flex w-1/2 gap-[25px] sticky top-5 items-start">
      <div class="flex flex-col gap-2.5">
        <img
          src="./assets/thum_black.webp"
          data-img="./assets/detail_black.webp"
          class="w-16 aspect-[4/5] object-cover object-center rounded-[10px] p-[2px] cursor-pointer border-2 border-black"
          alt=""
        />
        <img
          src="./assets/thum_white.webp"
          data-img="./assets/detail_white.webp"
          class="w-16 aspect-[4/5] object-cover object-center rounded-[10px] p-[2px] cursor-pointer hover:border-2 hover:border-black"
          alt=""
        />
        <img
          src="./assets/thum_gold.webp"
          data-img="./assets/detail_gold.webp"
          class="w-16 aspect-[4/5] object-cover object-center rounded-[10px] p-[2px] cursor-pointer hover:border-2 hover:border-black"
          alt=""
        />
        <img
          src="./assets/thum_bb.webp"
          data-img="./assets/detail_bb.webp"
          class="w-16 aspect-[4/5] object-cover object-center rounded-[10px] p-[2px] cursor-pointer hover:border-2 hover:border-black"
          alt=""
        />
        <img
          src="./assets/thum_pink.webp"
          data-img="./assets/detail_pink.webp"
          class="w-16 aspect-[4/5] object-cover object-center rounded-[10px] p-[2px] cursor-pointer hover:border-2 hover:border-black"
          alt=""
        />
        <img
          src="./assets/thum_green.webp"
          data-img="./assets/detail_green.webp"
          class="w-16 aspect-[4/5] object-cover object-center rounded-[10px] p-[2px] cursor-pointer hover:border-2 hover:border-black"
          alt=""
        />
      </div>
      <div class="max-w-full">
        <img src="./assets/detail_black.webp" class="rounded-[10px]" />
      </div>
    </div>

    <div class="md:hidden w-full">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="./assets/detail_black.webp"
              class="w-full aspect-[4/5] object-cover rounded-lg"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./assets/detail_white.webp"
              class="w-full aspect-[4/5] object-cover rounded-lg"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./assets/detail_gold.webp"
              class="w-full aspect-[4/5] object-cover rounded-lg"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./assets/detail_bb.webp"
              class="w-full aspect-[4/5] object-cover rounded-lg"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./assets/detail_pink.webp"
              class="w-full aspect-[4/5] object-cover rounded-lg"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./assets/detail_green.webp"
              class="w-full aspect-[4/5] object-cover rounded-lg"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-[4vw] md:gap-[2vmax] flex-1 mt-4 md:mt-0">
      <label
        class="text-xs md:text-[14px] font-normal leading-[15px] tracking-[0.6px] border border-[#cfcfcf] rounded-md px-2 py-1 w-fit text-center"
      >
        Best seller
      </label>

      <div class="flex flex-col gap-2 pb-[2vmax] border-b border-[#e6e6e6]">
        <a
          href="#"
          class="no-underline text-[#171717] text-xl md:text-[28px] font-bold leading-7 md:leading-[38px]"
        >
          Beosound A1 2nd Gen
        </a>
        <h3 class="text-lg md:text-[22px] font-bold">$299.00</h3>
        <p class="text-sm md:text-[14px] leading-5 md:leading-6 font-normal">
          Tax included.<span class="text-[#5c5c5c] underline ml-1"
            >Shipping</span
          >
          calculated at checkout.
        </p>
        <div class="flex items-center gap-1 text-sm">
          <img src="./assets/star.png" class="w-[12px] h-[12px]" />
          <img src="./assets/star.png" class="w-[12px] h-[12px]" />
          <img src="./assets/star.png" class="w-[12px] h-[12px]" />
          <img src="./assets/star.png" class="w-[12px] h-[12px]" />
          <img src="./assets/star.png" class="w-[12px] h-[12px]" />
          <span>(4.9)</span>
        </div>
      </div>

      <div>
        <label class="font-bold text-sm md:text-[16px]">Color:</label>
        <span id="colorName" class="ml-1 text-sm">Black</span>
        <ul class="flex gap-2 md:gap-3 mt-2 mb-4">
          <li
            class="w-6 h-6 md:w-7 md:h-7 rounded-full bg-black cursor-pointer shadow-[0_0_0_2px_#fff,0_0_0_3px_#000]"
          ></li>
          <li
            class="w-6 h-6 md:w-7 md:h-7 rounded-full bg-[#eee] cursor-pointer shadow-[0_0_0_2px_#fff,0_0_0_3px_#ccc]"
          ></li>
          <li
            class="w-6 h-6 md:w-7 md:h-7 rounded-full bg-[#FFD700] cursor-pointer shadow-[0_0_0_2px_#fff,0_0_0_3px_#ccc]"
          ></li>
          <li
            class="w-6 h-6 md:w-7 md:h-7 rounded-full bg-[#d9f1fd] cursor-pointer shadow-[0_0_0_2px_#fff,0_0_0_3px_#ccc]"
          ></li>
          <li
            class="w-6 h-6 md:w-7 md:h-7 rounded-full bg-[#d9a4ab] cursor-pointer shadow-[0_0_0_2px_#fff,0_0_0_3px_#ccc]"
          ></li>
          <li
            class="w-6 h-6 md:w-7 md:h-7 rounded-full bg-[mediumseagreen] cursor-pointer shadow-[0_0_0_2px_#fff,0_0_0_3px_#ccc]"
          ></li>
        </ul>
      </div>

      <div
        class="relative w-fit text-[#c00000] font-bold flex items-center gap-1 mb-[1vmax] before:content-['●'] before:text-xs after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] md:after:h-[3px] after:bg-[#c00000]"
      >
        <p class="text-sm md:text-[16px] font-semibold">
          Very low stock (5 units)
        </p>
      </div>

      <div>
        <label class="block font-semibold text-sm md:text-[16px] mb-2"
          >Quantity</label
        >
        <div
          class="flex items-center border border-black rounded-full w-fit overflow-hidden"
        >
          <button class="w-[40px] h-[36px] text-[18px] bg-white">-</button>
          <span class="px-3 h-[36px] leading-[36px] font-medium text-sm"
            >1</span
          >
          <button class="w-[40px] h-[36px] text-[18px] bg-white">+</button>
        </div>
      </div>

      <div class="flex flex-col md:flex-row gap-2 md:gap-[1vmax] w-full">
        <button
          class="flex-1 py-3 text-sm font-semibold rounded-full bg-[#ffc65a] text-black"
        >
          Add To Cart
        </button>
        <button
          class="flex-1 py-3 text-sm font-semibold rounded-full bg-black text-white"
        >
          Buy It Now
        </button>
      </div>

      <div class="flex flex-col gap-2 mt-3">
        <div class="flex items-center gap-2 text-sm md:text-[16px] font-bold">
          <img src="./assets/policy1.png" class="w-6 md:w-auto" />
          Free shipping on all U.S. orders of $40+
        </div>
        <div class="flex items-center gap-2 text-sm md:text-[16px] font-bold">
          <img src="./assets/policy2.png" class="w-6 md:w-auto" />
          Free returns and exchanges
        </div>
        <div class="flex items-center gap-2 text-sm md:text-[16px] font-bold">
          <img src="./assets/policy3.png" class="w-6 md:w-auto" />
          30-Day Money-Back Guarantee
        </div>
      </div>

      <p
        class="text-sm md:text-[16px] leading-5 md:leading-6 tracking-[0.6px] font-normal"
      >
        This store is a demo of the Beae template. The products from this store
        are from the catalog of
        <span class="font-bold">Bang Olufsen</span>
      </p>

      <div
        class="bg-[#fff9ed] rounded-2xl flex items-center p-3 md:p-[1vmax] gap-3"
      >
        <div
          class="bg-[#ffc356] w-12 h-12 rounded-full flex items-center justify-center"
        >
          <img src="./assets/promo.png" class="w-6" />
        </div>
        <div class="flex flex-col gap-1 flex-1">
          <div class="text-xs md:text-[14px]">
            Slash $40 off. Your wallet will thank you.
          </div>
          <div class="flex items-center gap-3 relative">
            <div
              id="promoCode"
              class="border border-[#ef9a00] text-[#ef9a00] px-2 py-1 rounded-full text-xs md:text-[13px]"
            >
              SUMMER2025
            </div>
            <div
              id="copyBtn"
              onclick="copyCode()"
              class="underline text-xs md:text-[13px] font-medium cursor-pointer hover:text-black"
            >
              Copy code
            </div>
            <div
              id="copiedMsg"
              class="absolute left-[75px] hidden text-xs font-medium"
            >
              Copied!
            </div>
          </div>
        </div>
      </div>

      <div class="divide-y divide-[#ccc] mt-3">
        <div class="py-3 md:py-4">
          <button
            class="flex justify-between w-full text-left font-normal text-sm md:text-[16px]"
          >
            Sound<span class="text-xl">+</span>
          </button>
          <div class="text-xs md:text-[14px] leading-5 md:leading-6 hidden">
            <dl>
              <dt class="font-bold">Recommended Room Size</dt>
              <dd>5–30 m²<br />50–300 ft² room</dd>
              <dt class="font-bold">Speaker Configuration</dt>
              <dd>1 x 3 ½" woofer<br />1 x 0.6" tweeter</dd>
              <dt class="font-bold">Amplifier</dt>
              <dd>
                1 x 30 W class D for tweeter<br />1 x 30 W class D for woofer<br />Total:
                60 W
              </dd>
              <dt class="font-bold">Frequency Range</dt>
              <dd>55–20.000 Hz</dd>
            </dl>
          </div>
        </div>
        <div class="py-3 md:py-4">
          <button
            class="flex justify-between w-full text-left  text-sm md:text-[16px]"
          >
            Design<span class="text-xl">+</span>
          </button>
          <div class="text-xs md:text-[14px] leading-5 md:leading-6 hidden">
            <dl>
              <dt class="font-bold">Designer</dt>
              <dd>Cecilie Manz</dd>
              <dt class="font-bold">Materials</dt>
              <dd>
                Pearl Blasted Anodized Aluminium<br />Waterproof Leather<br />Polymer
              </dd>
              <dt class="font-bold">Dust and Waterproof Rating</dt>
              <dd>IP67</dd>
              <dt class="font-bold">
                Dimensions (Width x Height x Depth) (cm)
              </dt>
              <dd>13.3 W x 4.6 H x 13.3 D cm</dd>
              <dt class="font-bold">Weight (g)</dt>
              <dd>558 g</dd>
            </dl>
          </div>
        </div>
        <div class="py-3 md:py-4">
          <button
            class="flex justify-between w-full text-left text-sm md:text-[16px]"
          >
            Power<span class="text-xl">+</span>
          </button>
          <div class="text-xs md:text-[14px] leading-5 md:leading-6 hidden">
            <dl>
              <dt class="font-bold">Battery Playtime</dt>
              <dd>Up to 18 hours</dd>
              <dt class="font-bold">Charging Time</dt>
              <dd>Approximately 2.75 hours</dd>
            </dl>
          </div>
        </div>
        <div class="py-3 md:py-4">
          <button
            class="flex justify-between w-full text-left  text-sm md:text-[16px]"
          >
            Connectivity<span class="text-xl">+</span>
          </button>
          <div class="text-xs md:text-[14px] leading-5 md:leading-6 hidden">
            <dl>
              <dt class="font-bold">Bluetooth Version</dt>
              <dd>Bluetooth 5.1</dd>
              <dt class="font-bold">Bluetooth Codecs</dt>
              <dd>aptX Adaptive</dd>
              <dd>AAC</dd>
              <dt class="font-bold">Physical Connections</dt>
              <dd>1 x USB-C (Charging)</dd>
              <dt class="font-bold">On-Device Controls</dt>
              <dd>Yes</dd>
              <dt class="font-bold">Speakerphone</dt>
              <dd>Yes</dd>
              <dt class="font-bold">Multipoint</dt>
              <dd>Yes (Up To 2 Devices)</dd>
              <dt class="font-bold">Certifications / Fast Pairing</dt>
              <dd>Made for iPhone (MFI)</dd>
              <dd>Google Fast Pair</dd>
              <dd>Microsoft Swift Pair</dd>
            </dl>
          </div>
        </div>

      <div class="flex items-center gap-1 mt-3">
        <p class="text-sm md:text-[16px] font-bold">Share</p>
        <img src="./assets/share.png" class="h-4 pl-1 cursor-pointer" />
      </div>
    </div>
  </div>
</section>
