<section
  class="w-full overflow-hidden bg-center bg-cover h-auto md:h-screen"
  style="background-image: url('./assets/banner1.jpg')"
>
  <div
    class="relative mx-auto h-auto md:h-full px-[15px] md:px-[30px] max-w-[1470px] flex flex-col gap-[15vmax] md:block"
  >
    <div
      class="relative md:absolute md:right-[30px] md:top-0 md:bottom-[70px] w-full md:w-[calc((100%_-_60px)_*_0.5)] flex flex-col justify-center gap-[11px] pt-[15vmax] md:pt-0 text-center md:text-left mb-[20px] md:mb-0"
    >
      <p
        class="text-white font-normal uppercase tracking-[2px] text-[12px] leading-[20px] md:text-[14px] md:leading-[24px]"
      >
        Beosound a1
      </p>

      <h1
        class="text-white font-bold tracking-[0.6px] text-[36px] leading-[42px] md:text-[60px] md:leading-[66px]"
      >
        Powerful sound. In the palm of your hand.
      </h1>

      <p
        class="text-white font-normal tracking-[0.6px] text-[17px] leading-[27px] md:text-[18px] md:leading-[28px]"
      >
        Delivering a vibrant and powerful sound experience in a compact design,
        Beosound A1 2nd Gen is the perfect choice for you to enjoy music
        anytime, anywhere – from outdoor picnics to private relaxing moments.
      </p>

      <div class="mt-[13.5px]">
        <a href="#">
          <button
            class="text-[14px] leading-[24px] tracking-[0.6px] font-semibold text-[#0c0c0c] bg-[#ffc356] hover:bg-[#ffd68b] rounded-full px-[50px] py-[13px] capitalize border-0"
          >
            Shop now
          </button>
        </a>
      </div>
    </div>

    <div
      class="relative md:absolute md:bottom-0 md:inset-x-[30px] border-t border-[#e6e6e6] py-[1vmax] w-full md:w-auto"
    >
      <a
        href="#feature"
        class="block text-center text-white uppercase font-normal tracking-[2px] text-[14px] leading-[20px] md:text-[18px] md:leading-[24px] hover:text-[#ffc356]"
      >
        Scroll to discover
      </a>
    </div>
  </div>
</section>
