<div
  class="pt-[4vmax] pb-[6vmax] flex flex-col items-center max-w-[1470px] mx-auto gap-[4vmax] text-[#171717] font-['Urbanist'] px-[15px] md:px-[30px]"
>
  <div class="flex flex-col-reverse md:flex-row items-center w-full">
    <div
      class="flex-1 flex flex-col gap-[1vmax] justify-center w-full md:w-[50%]"
    >
      <div class="w-full md:w-[80%] flex flex-col">
        <h1
          class="font-bold text-white text-[36px] md:text-[60px] leading-[46px] md:leading-[78px] tracking-[0.6px]"
          style="-webkit-text-stroke: 1px black"
        >
          01.
        </h1>
        <h2
          class="text-[28px] md:text-[40px] leading-[38px] md:leading-[52px] font-bold"
        >
          Elegantly Crafted Design
        </h2>
        <p class="text-[16px] leading-[24px] md:leading-[26px] mt-[1vmax]">
          With its refined aluminum frame and premium leather strap, Beosound A1
          2nd Gen is a combination of durability and elegance. Every detail,
          from the smooth curves to the tactile finish, is crafted to make a
          statement – it’s a design that speaks volumes without saying a word.
        </p>
      </div>
    </div>
    <div class="flex-1 flex justify-center items-center w-full md:w-[50%]">
      <img
        src="./assets/list_img1.jpg"
        alt="item1"
        class="w-full h-auto object-cover object-center"
      />
    </div>
  </div>

  <div class="flex flex-col md:flex-row items-center w-full">
    <div class="flex-1 flex justify-center items-center w-full md:w-[50%]">
      <img
        src="./assets/list_img2.jpg"
        alt="item2"
        class="w-full h-auto object-cover object-center"
      />
    </div>
    <div
      class="flex-1 flex flex-col gap-[1vmax] justify-center w-full md:w-[50%] "
    >
      <div class="w-full md:w-[80%] flex flex-col md:ml-auto">
        <h1
          class="font-bold text-white text-[36px] md:text-[60px] leading-[46px] md:leading-[78px] tracking-[0.6px]"
          style="-webkit-text-stroke: 1px black"
        >
          02.
        </h1>
        <h2
          class="text-[28px] md:text-[40px] leading-[38px] md:leading-[52px] font-bold"
        >
          Clear Sound, Every Direction
        </h2>
        <p class="text-[16px] leading-[24px] md:leading-[26px] mt-[1vmax]">
          Beosound A1 2nd Gen delivers unparalleled 360° sound. With advanced
          technology, it ensures crystal-clear audio no matter where you are.
          Whether you're indoors, on the move, or outdoors, the sound fills
          every corner, ensuring you're always surrounded by the music you love.
        </p>
      </div>
    </div>
  </div>

  <div class="flex flex-col-reverse md:flex-row items-center w-full">
    <div
      class="flex-1 flex flex-col gap-[1vmax] justify-center w-full md:w-[50%] "
    >
      <div class="w-full md:w-[80%] flex flex-col">
        <h1
          class="font-bold text-white text-[36px] md:text-[60px] leading-[46px] md:leading-[78px] tracking-[0.6px]"
          style="-webkit-text-stroke: 1px black"
        >
          03.
        </h1>
        <h2
          class="text-[28px] md:text-[40px] leading-[38px] md:leading-[52px] font-bold"
        >
          Ready for Any Challenge
        </h2>
        <p class="text-[16px] leading-[24px] md:leading-[26px] mt-[1vmax]">
          Beosound A1 2nd Gen isn’t just about great sound; it’s built to take
          on whatever life throws at it. Waterproof and dustproof, it’s perfect
          for outdoor adventures, whether you're at the beach or hiking through
          the mountains. With this speaker, you’re always prepared, no matter
          the environment.
        </p>
      </div>
    </div>
    <div class="flex-1 flex justify-center items-center w-full md:w-[50%]">
      <img
        src="./assets/list_img3.jpg"
        alt="item3"
        class="w-full h-auto object-cover object-center"
      />
    </div>
  </div>

  <div class="flex flex-col md:flex-row items-center w-full">
    <div class="flex-1 flex justify-center items-center w-full md:w-[50%]">
      <img
        src="./assets/list_img4.jpg"
        alt="item4"
        class="w-full h-auto object-cover object-center"
      />
    </div>
    <div
      class="flex-1 flex flex-col gap-[1vmax] justify-center w-full md:w-[50%] "
    >
      <div class="w-full md:w-[80%] flex flex-col md:ml-auto">
        <h1
          class="font-bold text-white text-[36px] md:text-[60px] leading-[46px] md:leading-[78px] tracking-[0.6px]"
          style="-webkit-text-stroke: 1px black"
        >
          04.
        </h1>
        <h2
          class="text-[28px] md:text-[40px] leading-[38px] md:leading-[52px] font-bold"
        >
          Long-Lasting Playtime
        </h2>
        <p class="text-[16px] leading-[24px] md:leading-[26px] mt-[1vmax]">
          With an impressive 18-hour battery life, Beosound A1 2nd Gen is ready
          to provide a soundtrack to your day. Whether you're hosting a party or
          enjoying some quiet time, the speaker’s long-lasting battery ensures
          the music keeps playing as long as you do.
        </p>
      </div>
    </div>
  </div>
</div>
