<section
  class="px-[30px] py-[3vmax] text-[#171717] flex flex-col gap-[3vmax] max-w-[1470px] mx-auto"
>
  <div class="flex flex-col gap-[1vmax] w-[65%] max-md:w-[90%]">
    <h2 class="text-[40px] font-bold leading-[40px] tracking-[0.6px]">
      You may also like
    </h2>
    <p class="text-[16px] leading-[24px] tracking-[0.6px]">
      Discover other premium audio products that complement your Beosound A1.
      Elevate your sound experience with our curated selection of high-quality
      speakers.
    </p>
  </div>

  <div class="swiper mySwiper w-full">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide !h-auto !w-[calc((100%-3*2vmax)/4)] max-md:!w-[calc((100%-1*2vmax)/2)] !mr-[2vmax] last:!mr-0"
      >
        <div class="flex flex-col gap-[1vmax] relative">
          <div
            class="relative overflow-hidden rounded-[15px] bg-[#171717]/5 group"
          >
            <img
              src="./assets/product_img1_1.webp"
              alt="product1"
              class="w-full aspect-[4/5] object-cover cursor-pointer"
            />
            <button
              class="absolute bottom-[15px] left-[15px] right-[15px] opacity-0 group-hover:opacity-100 pointer-events-none group-hover:pointer-events-auto transition-opacity duration-300 text-[14px] leading-[24px] tracking-[0.6px] font-semibold text-[#0c0c0c] bg-[#ffc356] rounded-full px-[50px] py-[13px] capitalize"
            >
              Choose Options
            </button>
          </div>

          <div class="flex flex-col gap-[1vmax]">
            <h3 class="text-[16px] font-bold leading-[16px] tracking-[0.6px]">
              Sound from the ground and up
            </h3>
            <p class="text-[16px] leading-[24px] tracking-[0.6px]">$399.00</p>

            <div>
              <span
                data-img="./assets/product_img1_1.webp"
                class="inline-block w-4 h-4 rounded-full border border-[#ccc] bg-black cursor-pointer hover:border-[#333]"
              ></span>
              <span
                data-img="./assets/product_img1_2.webp"
                class="inline-block w-4 h-4 rounded-full border border-[#ccc] bg-gray-300 cursor-pointer hover:border-[#333]"
              ></span>
              <span
                data-img="./assets/product_img1_3.webp"
                class="inline-block w-4 h-4 rounded-full border border-[#ccc] bg-white cursor-pointer hover:border-[#333]"
              ></span>
            </div>

            <p
              class="text-[14px] text-[#c00000] font-semibold leading-[24px] tracking-[0.6px]"
            >
              Very low stock (3 units)
            </p>

            <div class="flex items-center gap-3">
              <div class="flex">
                <img src="./assets/star.png" alt="star" class="w-3 h-3" />
                <img src="./assets/star.png" alt="star" class="w-3 h-3" />
                <img src="./assets/star.png" alt="star" class="w-3 h-3" />
                <img src="./assets/star.png" alt="star" class="w-3 h-3" />
                <img src="./assets/star.png" alt="star" class="w-3 h-3" />
              </div>
              <p class="text-[14px] leading-[24px] tracking-[0.6px]">(512)</p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="swiper-slide !h-auto !w-[calc((100%-3*2vmax)/4)] max-md:!w-[calc((100%-1*2vmax)/2)] !mr-[2vmax] last:!mr-0"
      >
        <div class="flex flex-col gap-[1vmax] relative">
          <div
            class="relative overflow-hidden rounded-[15px] bg-[#171717]/5 group"
          >
            <img
              src="./assets/product_img2.webp"
              alt="product1"
              class="w-full aspect-[4/5] object-cover cursor-pointer"
            />
            <button
              class="absolute bottom-[15px] left-[15px] right-[15px] opacity-0 group-hover:opacity-100 pointer-events-none group-hover:pointer-events-auto transition-opacity duration-300 text-[14px] leading-[24px] tracking-[0.6px] font-semibold text-[#0c0c0c] bg-[#ffc356] rounded-full px-[50px] py-[13px] capitalize"
            >
              Add To Cart
            </button>
          </div>

          <div class="flex flex-col gap-[1vmax]">
            <h3 class="text-[16px] font-bold leading-[16px] tracking-[0.6px]">
              A precision powerhouse
            </h3>
            <p class="text-[16px] leading-[24px] tracking-[0.6px]">$4.75</p>
            <p
              class="text-[14px] text-[#c00000] font-semibold leading-[24px] tracking-[0.6px]"
            >
              Very low stock (3 units)
            </p>

            <div class="flex items-center gap-3">
              <div class="flex">
                <img src="./assets/star.png" alt="star" class="w-3 h-3" />
                <img src="./assets/star.png" alt="star" class="w-3 h-3" />
                <img src="./assets/star.png" alt="star" class="w-3 h-3" />
                <img src="./assets/star.png" alt="star" class="w-3 h-3" />
                <img src="./assets/star.png" alt="star" class="w-3 h-3" />
              </div>
              <p class="text-[14px] leading-[24px] tracking-[0.6px]">(512)</p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="swiper-slide !h-auto !w-[calc((100%-3*2vmax)/4)] max-md:!w-[calc((100%-1*2vmax)/2)] !mr-[2vmax] last:!mr-0"
      >
        <div class="flex flex-col gap-[1vmax] relative">
          <div
            class="relative overflow-hidden rounded-[15px] bg-[#171717]/5 group"
          >
            <img
              src="./assets/product_img3.webp"
              alt="product1"
              class="w-full aspect-[4/5] object-cover cursor-pointer"
            />
            <button
              class="absolute bottom-[15px] left-[15px] right-[15px] opacity-0 group-hover:opacity-100 pointer-events-none group-hover:pointer-events-auto transition-opacity duration-300 text-[14px] leading-[24px] tracking-[0.6px] font-semibold text-[#0c0c0c] bg-[#ffc356] rounded-full px-[50px] py-[13px] capitalize"
            >
              Add To Cart
            </button>
          </div>

          <div class="flex flex-col gap-[1vmax]">
            <h3 class="text-[16px] font-bold leading-[16px] tracking-[0.6px]">
              Classic floor standing speakers Beolab 50
            </h3>
            <p class="text-[16px] leading-[24px] tracking-[0.6px]">$58.00</p>
            <p
              class="text-[14px] text-[#c00000] font-semibold leading-[24px] tracking-[0.6px]"
            >
              Very low stock (3 units)
            </p>

            <div class="flex items-center gap-3">
              <div class="flex">
                <img src="./assets/star.png" alt="star" class="w-3 h-3" />
                <img src="./assets/star.png" alt="star" class="w-3 h-3" />
                <img src="./assets/star.png" alt="star" class="w-3 h-3" />
                <img src="./assets/star.png" alt="star" class="w-3 h-3" />
                <img src="./assets/star.png" alt="star" class="w-3 h-3" />
              </div>
              <p class="text-[14px] leading-[24px] tracking-[0.6px]">(512)</p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="swiper-slide !h-auto !w-[calc((100%-3*2vmax)/4)] max-md:!w-[calc((100%-1*2vmax)/2)] !mr-[2vmax] last:!mr-0"
      >
        <div class="flex flex-col gap-[1vmax] relative">
          <!-- Image -->
          <div
            class="relative overflow-hidden rounded-[15px] bg-[#171717]/5 group"
          >
            <img
              src="./assets/product_img4_1.webp"
              alt="product1"
              class="w-full aspect-[4/5] object-cover cursor-pointer"
            />
            <button
              class="absolute bottom-[15px] left-[15px] right-[15px] opacity-0 group-hover:opacity-100 pointer-events-none group-hover:pointer-events-auto transition-opacity duration-300 text-[14px] leading-[24px] tracking-[0.6px] font-semibold text-[#0c0c0c] bg-[#ffc356] rounded-full px-[50px] py-[13px] capitalize"
            >
              Choose Options
            </button>
          </div>

          <!-- Content -->
          <div class="flex flex-col gap-[1vmax]">
            <h3 class="text-[16px] font-bold leading-[16px] tracking-[0.6px]">
              Powerful portable speaker A5
            </h3>
            <p class="text-[16px] leading-[24px] tracking-[0.6px]">$1'549.00</p>
            <p
              class="text-[14px] text-[#c00000] font-semibold leading-[24px] tracking-[0.6px]"
            >
              Very low stock (3 units)
            </p>

            <!-- Rating -->
            <div class="flex items-center gap-3">
              <div class="flex">
                <img src="./assets/star.png" alt="star" class="w-3 h-3" />
                <img src="./assets/star.png" alt="star" class="w-3 h-3" />
                <img src="./assets/star.png" alt="star" class="w-3 h-3" />
                <img src="./assets/star.png" alt="star" class="w-3 h-3" />
                <img src="./assets/star.png" alt="star" class="w-3 h-3" />
              </div>
              <p class="text-[14px] leading-[24px] tracking-[0.6px]">(512)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
