<div
  id="review"
  class="flex flex-col items-center gap-[1vmax] max-w-[1470px] mx-auto px-[30px] md:px-[15px] py-[3vmax]"
>
  <div class="pro__review-icon">
    <img
      src="./assets/rv.png"
      alt="review icon"
      class="w-[48px] h-[48px] max-md:w-[40px] max-md:h-[40px]"
    />
  </div>

  <div class="swiper custom-swiper w-full">
    <div class="swiper-wrapper flex">
      <div class="swiper-slide flex items-center justify-center w-full">
        <div
          class="flex flex-col items-center gap-[1vmax] mx-[12vmax] max-md:mx-0 max-md:gap-[0.5vmax]"
        >
          <div class="text-center">
            <h3
              class="text-[28px] leading-[38px] font-bold text-[#171717] tracking-[0.6px] max-md:text-[20px] max-md:leading-[30px]"
            >
              If you're looking for quality portable speaker that majors on both
              style and substance – something to pack into your picnic hamper,
              perhaps – this is it.
            </h3>
          </div>

          <div class="flex gap-1">
            <img
              src="./assets/star_black.png"
              class="w-[22px] h-[22px]"
              alt="star"
            />
            <img
              src="./assets/star_black.png"
              class="w-[22px] h-[22px]"
              alt="star"
            />
            <img
              src="./assets/star_black.png"
              class="w-[22px] h-[22px]"
              alt="star"
            />
            <img
              src="./assets/star_black.png"
              class="w-[22px] h-[22px]"
              alt="star"
            />
            <img
              src="./assets/star_black.png"
              class="w-[22px] h-[22px]"
              alt="star"
            />
          </div>

          <div class="flex flex-col items-center mt-[1vmax] text-[#171717]">
            <p
              class="text-[16px] leading-[24px] font-bold tracking-[0.6px] max-md:text-[14px]"
            >
              Daniel K.
            </p>
            <p
              class="text-[14px] leading-[24px] font-medium tracking-[0.6px] max-md:text-[12px] max-md:leading-[20px]"
            >
              From Germany
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-slide flex items-center justify-center w-full">
        <div
          class="flex flex-col items-center gap-[1vmax] mx-[12vmax] max-md:mx-0 max-md:gap-[0.5vmax]"
        >
          <div class="text-center">
            <h3
              class="text-[28px] leading-[38px] font-bold text-[#171717] tracking-[0.6px] max-md:text-[20px] max-md:leading-[30px]"
            >
              "The Beosound A1 from Bang & Olufsen is still one of the best
              small Bluetooth speakers. And now in an improved and more robust
              version."
            </h3>
          </div>

          <div class="flex gap-1">
            <img
              src="./assets/star_black.png"
              class="w-[22px] h-[22px]"
              alt="star"
            />
            <img
              src="./assets/star_black.png"
              class="w-[22px] h-[22px]"
              alt="star"
            />
            <img
              src="./assets/star_black.png"
              class="w-[22px] h-[22px]"
              alt="star"
            />
            <img
              src="./assets/star_black.png"
              class="w-[22px] h-[22px]"
              alt="star"
            />
            <img
              src="./assets/star_black.png"
              class="w-[22px] h-[22px]"
              alt="star"
            />
          </div>

          <div class="flex flex-col items-center mt-[1vmax] text-[#171717]">
            <p
              class="text-[16px] leading-[24px] font-bold tracking-[0.6px] max-md:text-[14px]"
            >
              Emma L.
            </p>
            <p
              class="text-[14px] leading-[24px] font-medium tracking-[0.6px] max-md:text-[12px] max-md:leading-[20px]"
            >
              From United Kingdom
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-slide flex items-center justify-center w-full">
        <div
          class="flex flex-col items-center gap-[1vmax] mx-[12vmax] max-md:mx-0 max-md:gap-[0.5vmax]"
        >
          <div class="text-center">
            <h3
              class="text-[28px] leading-[38px] font-bold text-[#171717] tracking-[0.6px] max-md:text-[20px] max-md:leading-[30px]"
            >
              "The sonic performance is excellent, and factor in the various
              design tweaks and improvements and the Beosound A1 is a stunning
              portable speaker."
            </h3>
          </div>

          <div class="flex gap-1">
            <img
              src="./assets/star_black.png"
              class="w-[22px] h-[22px]"
              alt="star"
            />
            <img
              src="./assets/star_black.png"
              class="w-[22px] h-[22px]"
              alt="star"
            />
            <img
              src="./assets/star_black.png"
              class="w-[22px] h-[22px]"
              alt="star"
            />
            <img
              src="./assets/star_black.png"
              class="w-[22px] h-[22px]"
              alt="star"
            />
            <img
              src="./assets/star_black.png"
              class="w-[22px] h-[22px]"
              alt="star"
            />
          </div>

          <div class="flex flex-col items-center mt-[1vmax] text-[#171717]">
            <p
              class="text-[16px] leading-[24px] font-bold tracking-[0.6px] max-md:text-[14px]"
            >
              Sofia M.
            </p>
            <p
              class="text-[14px] leading-[24px] font-medium tracking-[0.6px] max-md:text-[12px] max-md:leading-[20px]"
            >
              From United States
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
