<section
  class="py-[10vmax] text-white bg-cover bg-center w-full h-full text-center"
  style="background-image: url('./assets/banner2.jpg')"
>

  <div
    class="px-6 w-[70%] mx-auto flex flex-col gap-4 items-center max-md:w-full"
  >
    <p class="text-sm uppercase tracking-[2px]">Hurry, Time’s Running Out!</p>

    <h2 class="text-[28px] md:text-[40px] font-bold">
      The Summer Sale is Almost Over
    </h2>

    <p class="text-sm md:text-base tracking-[0.6px]">
      Don’t miss out on your chance to grab Beosound A1 at an unbeatable price.
      The clock is ticking – shop now before it’s too late!
    </p>

    <div id="countdown" class="flex gap-3 p-5 rounded-xl max-md:p-2">
      <div
        class="border-2 border-white p-3 rounded-xl min-w-[80px] max-md:min-w-[60px]"
      >
        <div id="days" class="text-3xl font-bold max-md:text-2xl">00</div>
        <div class="text-sm mt-1 tracking-wide max-md:text-xs">DAYS</div>
      </div>

      <div class="flex items-center justify-center">
        <span class="text-[40px] font-bold px-1">:</span>
      </div>

      <div
        class="border-2 border-white p-3 rounded-xl min-w-[80px] max-md:min-w-[60px]"
      >
        <div id="hours" class="text-3xl font-bold max-md:text-2xl">00</div>
        <div class="text-sm mt-1 tracking-wide max-md:text-xs">HOURS</div>
      </div>

      <div class="flex items-center justify-center">
        <span class="text-[40px] font-bold px-1">:</span>
      </div>

      <div
        class="border-2 border-white p-3 rounded-xl min-w-[80px] max-md:min-w-[60px]"
      >
        <div id="minutes" class="text-3xl font-bold max-md:text-2xl">00</div>
        <div class="text-sm mt-1 tracking-wide max-md:text-xs">MINS</div>
      </div>

      <div class="flex items-center justify-center">
        <span class="text-[40px] font-bold px-1">:</span>
      </div>

      <div
        class="border-2 border-white p-3 rounded-xl min-w-[80px] max-md:min-w-[60px]"
      >
        <div id="seconds" class="text-3xl font-bold max-md:text-2xl">00</div>
        <div class="text-sm mt-1 tracking-wide max-md:text-xs">SECS</div>
      </div>
    </div>

    <div class="mt-0">
      <a href="#">
        <button
          class="text-[#0c0c0c] bg-white rounded-full px-12 py-3 text-sm font-semibold tracking-wide capitalize hover:bg-gray-200 transition"
        >
          Shop now
        </button>
      </a>
    </div>
  </div>
</section>
